@font-face{
    font-family: "LinBio";
    src: url("fonts/LinBiolinum_R.ttf");
}
/*@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,700,900&display=swap');*/
*{
    padding: 0;
    margin: 0;
    font-family: 'LinBio', serif;
}
html{
    position: relative;
    overflow-x: hidden;
}
body{
    background-color: #141416;
}
.ailimg{
    margin: auto;
    display: block;
}
.nav{
    background-color: hsl(0,0%,10%);
}
nav{
    max-width: 1000px;
    margin: auto;
    display: block;
/*    border-bottom: 1px solid #EE8623;*/
}
.navul{
    display: flex;
    justify-content: space-between;
    list-style: none;
}
.nava{
    color: white;
    text-decoration: none;
    padding: 1rem;
}
.nava:hover{
    background-color: hsl(0,0%,15%);
}
.line{ 
    display:block;
    border:none;
    color:white;
    height:1px;
    background:black;
    background: -webkit-gradient(linear, 0 0, 100% 0, from(transparent), to(transparent), color-stop(50%, #EE8623));
}
#checkbox{
    display: none;
    border: 5px solid black;
    appearance: none;
    position: absolute;
    width: 40px;
    height: 40px;
    top: 15px;
    left: 15px;
    filter: opacity(0) !important;
}
.bar{
    position: absolute;
    display: none;
    top: 15px;
    left: 15px;
    background-color: white;
    width: 40px;
    height: 5px;
}
.bar2{
    margin-top:15px;
}
.bar3{
    margin-top:30px;
}
@media only screen and (max-width: 780px){
    .navul{
        flex-direction: column;
    }
    #checkbox{
        display: block;
    }
    .bar{
        display: block;
    }
    #checkbox:checked + label{
    display: none;
    }
}
.title{
    color: white;
    text-align: center;
}
.subtitle{
    color:white;
    text-align: center;
    display: block;
}
#div1, #div2, #div3, #div4, #div5{
    color: white;
    display: none;
}
.checkbox{
    display: inline-block;
    width: 150px;
    position: absolute;
    height: 50px;
    filter: opacity(0);
}

#checkbox:checked + span {
	color: orange;
	text-shadow: 2px 3px 4px black;
}

#about:checked ~ #div1,
#primary:checked ~ #div2,
#extra:checked ~ #div3, 
#sample:checked ~ #div4, 
#contact:checked ~ #div5  {
    display: block !important;
}

.content{
    position: absolute;
    display: block;
    left: 0px !important; 
    margin:0 auto !important;
    top: 121px;
/*    max-width: 500px;*/
    width: 100%;
    height: 40px;
    z-index: -1;
}
.centeredcontent{
    display: block;
    margin: auto;
    width: 500px;
    background-color: #141416;
}
.span{
    text-align: center;
    display: block;
    font-size: 2.4rem;
}
.list{
    padding-left: 1rem;
}
@media only screen and (max-width: 800px){
    .content{
        top: 340px;
    }
    .checkbox{
        width: 100%;
    }
    form{
        max-width: 80% !important;
    }
}


form{
/*    width: 40%;*/
/*    min-width: 600px;*/
    margin: 1rem auto 10rem;
}
.formfield{
    
}
.label{
    color: white;
/*    width: 100%;*/
}
input,textarea{
    width: 100%;
    margin-bottom: 1rem;
    padding: 0.2rem;
    border: none;
    border-radius: 0.1rem;
    background-color: 
}
textarea{
    min-height: 40px;
    max-height: 200px;
    max-width: 100%;
/*    min-width: 100%;*/
}
.submit{
    width: 20%;
    margin: auto;
    display: block;
}